@import "tailwindcss";

@font-face {
  font-family: "Matter";
  src: url("/fonts/matter/Matter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  src: url("/fonts/matter/Matter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  src: url("/fonts/matter/Matter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  src: url("/fonts/matter/Matter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  src: url("/fonts/matter/Matter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  src: url("/fonts/matter/Matter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  src: url("/fonts/matter/Matter-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matter";
  src: url("/fonts/matter/Matter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Matter", "system-ui";
}

@layer components {
  .custom-defaults {
    p {
      @apply text-base;
    }

    h1 {
      @apply text-5xl font-semibold py-3;
    }

    h2 {
      @apply text-3xl font-medium py-2;
    }

    h3 {
      @apply text-xl py-1;
    }

    pre {
      @apply rounded-md px-3 py-2;
    }

    ul {
      @apply list-disc list-inside;
    }

    ol {
      @apply list-decimal list-inside;
    }

    kbd {
      @apply bg-white/20 px-1 py-0.5 rounded-md lowercase;
    }

    mark {
      @apply bg-yellow-300;

      .danger {
        @apply bg-red-300;
      }

      .success {
        @apply bg-emerald-300;
      }
    }

    blockquote {
      @apply border-l-4 border-white px-2;
    }

    hr {
      @apply pb-2;
    }
  }
}
