---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"Journal by PyBash"}
      description={"A friendly, homegrown blog by your fellow internet user, PyBash."}
    />
  </head>
  <body class="bg-dark text-text">
    <Header />
    <ul class="flex flex-col items-center justify-center pb-24 pt-12">
      {
        posts.map((post) => (
          <a
            href={`/writing/${post.id}`}
            class="first:border-t border-b border-border py-4 w-1/2 transition-colors ease-in-out duration-500 hover:bg-border hover:text-dark px-3 flex items-center justify-between"
          >
            <div>{post.data.title}</div>
            <div>
              {new Date(post.data.pubDate).toLocaleDateString(undefined, {
                month: "short",
                day: "2-digit",
                year: "numeric",
              })}
            </div>
          </a>
        ))
      }
    </ul>
    <Footer />
  </body>
</html>
