---
import { Image } from "astro:assets";
import headerImage from "../assets/monochrome-grass.jpg";
---

<header class="h-full bg-black">
  <nav class="text-white h-full">
    <div class="flex items-center justify-around text-xl uppercase pt-10">
      <a
        href="https://pybash.xyz"
        class="text-white/80 hover:text-white transition-colors duration-500 ease-in-out"
        >PyBash</a
      >
      <a
        href="https://twitter.com/py_bahs1"
        target="_blank"
        class="text-white/80 hover:text-white transition-colors duration-500 ease-in-out"
        >Social</a
      >
    </div>
    <div class="text-[16rem] uppercase text-center font-bold leading mt-36">
      Journal
    </div>
    <Image
      src={headerImage}
      alt="monochrome grass"
      class="invert object-top"
      loading={"eager"}
    />
  </nav>
</header>
