---
---

<header class="h-full bg-dark">
  <nav class="text-white h-full">
    <div
      class="flex items-center justify-around text-xl uppercase pt-10 font-mono"
    >
      <a
        href="https://pybash.xyz"
        class="text-white/80 hover:text-white transition-colors duration-500 ease-in-out"
        >PyBash</a
      >
      <a
        href="https://twitter.com/py_bahs1"
        target="_blank"
        class="text-white/80 hover:text-white transition-colors duration-500 ease-in-out"
        >Social</a
      >
    </div>
    <div
      class="text-[16rem] uppercase text-center font-bold leading my-36 font-mono"
    >
      Journal
    </div>
  </nav>
</header>
