---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];

const { title, description, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-dark text-text">
    <a href="/" class="absolute top-20 left-40">&larr; Home</a>
    <main class="flex items-center justify-center text-text">
      <article class="py-20 w-2/5 text-left">
        {
          heroImage && (
            <Image width={1020} height={510} src={heroImage} alt="" />
          )
        }
        <div class="prose custom-defaults">
          <h1>{title}</h1>
          <slot />
        </div>
      </article>
    </main>
    <Footer dark />
  </body>
</html>
